# Server
PORT=3000

# Google OAuth2
GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect

# JWT
JWT_SECRET=cambiame-por-un-secreto-largo
JWT_EXPIRES_IN=1d

# PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/nestjs_oauth?schema=public"
